body {
  background: url("../images/paper_3.png");
}

img {
  width: 30%;
  height: 40%;
  object-fit: cover;
}

#scoreboard {
  color: white;
  background: rgb(255, 60, 60);
  border: solid 1px white;
  padding: 5px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
}

.window {
  width: 100%;
  border: solid 4px black;
  border-radius: 10px;
}

.game-area {
  height: 400px;
  background: rgb(195, 246, 255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}

.controls-area {
  height: 100px;
  background: #ff6060;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chat-area {
  height: 300px;
  background: floralwhite;
  padding: 10px;
  overflow-y: scroll;
}

.chat-message1 {
  width: 100%;
  background: rgb(255, 250, 177);
  border-radius: 7px;
  margin: 2px;
  padding: 5px;
  overflow-wrap: break-word;
}

.chat-message2 {
  width: 100%;
  background: rgb(255, 196, 255);
  border-radius: 7px;
  margin: 2px;
  padding: 5px;
  overflow-wrap: break-word;
}

.chat-message3 {
  width: 100%;
  background: rgb(190, 255, 230);
  border-radius: 7px;
  margin: 2px;
  padding: 5px;
  overflow-wrap: break-word;
}

.message-area {
  height: 200px;
  background: rgb(174, 255, 137);
  padding: 20px;
}

.row {
  padding: 3px;
}